.vscode/**
.vscode-test/**
.git/**
.gitignore
.gitattributes
node_modules/**
test/**
**/*.test.js
**/*.test.ts
*.vsix
.eslintrc.json
.prettierrc
tsconfig.json
webpack.config.js
vsc-extension-quickstart.md
CONTRIBUTING.md
test_play.js
simulate_failure_and_play.js
faaah.mp3
faa-sound-0.0.1.vsix
FAAA-Sound-0.0.1.vsix
images/**
*.map
